html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/**
    Clases agregadas
*/
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-rows {
    height: calc(100vh - 24vh); /* 70px = altura aproximada del navbar */
    overflow- y: auto;
    overflow - x: hidden;
}

.container-principal {
    flex: 1;
    display: flex;
    overflow: hidden;
}

main {
    overflow-y: auto !important;
}

.btn-edit {
    color: #fff;
    background-color: #2a8713;
    border-color: #1f4a1b;
}

.btn-delete {
    color: #fff;
    background-color: #890000;
    border-color: #480419;
}

.td-actions {
    min-width:180px
}

#loading {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
}

#loading .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}