html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/**
    Clases agregadas
*/
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-rows {
    height: calc(100vh - 24vh); /* 70px = altura aproximada del navbar */
    overflow- y: auto;
    overflow - x: hidden;
}

.container-principal {
    flex: 1;
    display: flex;
    overflow: hidden;
}

main {
    overflow-y: auto !important;
}

.btn-edit {
    color: #fff;
    background-color: #878513;
    border-color: #1f4a1b;
}

.btn-delete {
    color: #fff;
    background-color: #890000;
    border-color: #480419;
}

#loading {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
}

#loading .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #6c757d;
    margin: 0 -16px;
    padding: 10px 16px;
}

#sidebar {
    top: 0;
    left: 0;
    min-width: 265px !important;
    height: 83vh;
    overflow-y: auto;
    z-index: 1000;
    flex-shrink: 0;
}

.btn-excel {
    color: #fff;
    background-color: #0c6c36;
    border-color: #175835;
}

.dataTable thead th {
    font-size: clamp(12px, 1vw, 16px);
}

.dataTable tbody td {
    font-size: clamp(12px, 1vw, 16px);
}

.sidebar-container {
    width: 250px;
    background: #44152c;
    min-height: 83vh;
    color: #efc4a3 !important;
}

.container-rows input {
    font-size: clamp(12px, 1vw, 16px);
}

.container-rows {
    font-size: clamp(12px, 1vw, 16px) !important;
}